<article class="content">

    <div class="row">
    <div class="small-12 columns">
    <h1>About Me</h1>
    <p>
    I was born in Beijing, China, and I moved to the U.S. with my family when I was twelve. I spent most of my teenager years in the Sillicon Valley, right after the internet bubble of the late 1990s bursted. Although I used computers everyday, I didn't really consider a career working with computers. I developed an interest in Biology during high school, so I pursued a biochemistry degree in college.</p>
    <p>
    My Alma Mater is UCSD, in the sunny souther California city of San Diego. I earned a diploma in Biochemistry and graduated in 2013. After university I managed to get into medical school at LECOM, in Erie, PA. After a year of medical school, I decided to take a break and try my hand at something more creative and flexible. Which is why I decided to start studying software development at Dev Bootcamp.</p>
    <p>
    With my free time, I enjoy reading books, watching movies, and various physical activities. I have a pretty oddball collection of hobbies, such as improv comedy, djaying, snowboarding, and dancing. </p>

    <p>
    Currently, I am living in New York City, and I am looking for a job as a developer.
    </div>
    <div class="small-12 large-4 columns">
    <h2>Past</h2>
    <ul data-orbit>
     <li>
  <img class="picture" src="http://cdni.wired.co.uk/620x413/s_v/shutterstock_111796310.jpg" />
    <div class="orbit-caption">
      Beijing, the Capital City of China
    </div>
  </li>
   <li>
    <img class="picture" src="https://i.vimeocdn.com/video/479150608_1280x720.jpg" />
    <div class="orbit-caption">
      Sillicon Valley, the tech Capital of the World
    </div>
  </li>
   <li>
    <img class="picture" src="https://www.optumhealthsandiego.com/portal/server.pt/gateway/PTARGS_0_84133_2503_436_70295_43/http%3B/upsprodtools-e.uhc.com%3B7087/publishedcontent/publish/ubhp/sandiego/cmscontent/san_diego.jpg" />
    <div class="orbit-caption">
      San Diego, CA
    </div>
  </li>
   <li>
    <img class="picture" src="https://c4.staticflickr.com/4/3136/2736447940_cbf80b2ac3_b.jpg" />
    <div class="orbit-caption">
      Erie, PA
    </div>
  </li>
  <li>
    <img class="picture" src="http://i1024.photobucket.com/albums/y309/Dreamlandmattress/Web%20Site%20Pics/improv_zpsmyw4i4cw.jpg" />
    <div class="orbit-caption">
      My College Improv Team
    </div>
  </li>
  <li class="active">
    <img class="picture" src="http://i1024.photobucket.com/albums/y309/Dreamlandmattress/Web%20Site%20Pics/djay_zpsyfjzkwog.jpg" />
    <div class="orbit-caption">
      Spinning Some Records on a Sunny Day
    </div>
  </li>
  <li>
    <img class="picture" src="http://i1024.photobucket.com/albums/y309/Dreamlandmattress/Web%20Site%20Pics/monks_zps1w1uwgm9.jpg" />
    <div class="orbit-caption">
      Just Hanging with some Monks in Laos
    </div>
  </li>
</ul>
</div>
<div class="small-12 large-4 columns">
<h2>Current</h2>
<div style="height:300px;width:100%" id="map"></div>
</div>

<div class="small-12 large-4 columns">
<h2>Future</h2>
<img style="height:300px;width:300px" src="http://www.brixtonsplash.org/wp-content/uploads/2015/03/your-company-here-190x190.png"/>
</div>

</article>