<article class="content">
  
<div class="row">

  <div class="small-12 columns">
  <a href="http://coffeefriends.herokuapp.com/"><h1>Coffee Friends</h1></a>
  <p>A web application that allows people to buy coffee for friends. There is also a built in charity feature that let people buy coffee for strangers who may not be able to afford it. This application was developed with a team of four in six days using the Rails framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("coffeefriends.png"), "http://coffeefriends.herokuapp.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://chaiteaflashcards.herokuapp.com/"><h1>Flashcards Game</h1></a>
  <p>A flashcard game that can be used for memorization exercises. Users can create their own decks or play a deck created by someone else. The app keeps track of statistics on the user profile page. This application was developed with a team of four in three days using the Sinatra Framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("flashcard.png"),"https://chaiteaflashcards.herokuapp.com/")%>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
  <a href="https://whopperoverflow.herokuapp.com/"><h1>WhopperOverflow</h1></a>
  <p>A clone of Stack Overflow's core features. Users are able to post questions, answers, and comments. Users are also to upvote and downvote questions and answers. This application was developed with a team of three in three days using the Rails framework.</p>
  </div>
  <div class="small-12 columns">
  <%=link_to(image_tag("whopperoverflow.png"),"https://whopperoverflow.herokuapp.com/")%>
  </div>
</div>

  </div>
</article>