<article class="content">
  <div class="row">

<div class="show-for-small">
<h3>
<a href="https://resume.creddle.io/resume/ffgpx8yw9y0">Click Here To See Full Resume</a></h3>
</div>

<%= image_tag("JerryChaiResume.jpg")%>




</article>