<div class="row show-for-medium-up">
<div class="large-12">      
<div class="banner">
</div>
</div>
</div>

<a id="go-top">Back To Top</a>

<nav class="top-bar hide-for-small" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Jonathan Frey: photographer/filmmaker<span class="blinking-cursor">_</span></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
             
          <section class="top-bar-section hide-for-small">
             
            <ul class="right">
              <li><a id="stills-button">Stills</a></li>
              <li class="divider"></li>
              <li><a id="videos-button">Motion</a></li>
              <li class="divider"></li>
              <li><a id="about-button">About</a></li>
              <li class="divider"></li>
              <li><a id="contact-button">Contact</a></li>
              <li class="divider"></li>
            </ul>
          </section>
        </nav>


        <div class="row">
      <div class="large-12">
        <div class="banner-clear hide-for-small"></div>
      </div>

  <div class="icon-bar show-for-small">
  <a class="item" id="stills-button-mobile">
    <i class="step fi-camera size-48"></i>
    <label>Stills</label>
  </a>
  <a class="item" id="videos-button-mobile">
    <i class="step fi-video size-48"></i>
    <label>Motion</label>
  </a>
  <a class="item" id="about-button-mobile">
    <i class="step fi-results-demographics size-48"></i>
    <label>About</label>
  </a>
  <a class="item" id="contact-button-mobile">
    <i class="step fi-address-book size-48"></i>
    <label>Contact</label>
  </a>
</div>
    </div>